h1, h2, h3, h4, h5{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr{
  border: 0;
  height: 1px;
  background: #ffffff;
  margin: 20px 0;
}

.sec1{
  color: #fff;
  width: 80%;
  margin: auto;
  justify-content: center; /* Alinea los elementos horizontalmente */

}


.sec_sem1{

  width: 100%;
  display: flex;
}

.sec_sem1 #container1{

  width: 70%;
  

}

.sec_sem1 #container2{

  width: 30%;
  display: block;
  justify-content: center; 
  text-align: center;

}

#container2 img{
  width: 80%;
}



#img{
  width: 100%;
  height: 100px;
  padding: 200px  0;
  background-image: url(../img/banner.jpeg);
opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* ----------------*/
.panel {
  width: 100%;
  display: flex; /* Utiliza flexbox para alinear los elementos */
  justify-content: center; /* Alinea los elementos horizontalmente */
  padding: 0 18px;
  display: none;
  overflow: hidden;
  color: #fff;
}


.accordion {
  width: 80%;
  margin: 20px auto;

}

.accordion-item {
  font-family: 'Franklin Gothic Medium';
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion-item:hover {
  background-color: #ccc;
}

---------------------------

.panel2 {
  width: 100%;
  display: flex; /* Utiliza flexbox para alinear los elementos */
  justify-content: center; /* Alinea los elementos horizontalmente */
  padding: 0 18px;
  display: none;
  overflow: hidden;
  color: #fff;
}


.accordion1 {

  width: 80%;
  margin: 20px auto;

}

.accordion-item1 {
  font-family: 'Franklin Gothic Medium';
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion-item1:hover {
  background-color: #ccc;
}

---------------------------

.panel3 {
  width: 100%;
  display: flex; /* Utiliza flexbox para alinear los elementos */
  justify-content: center; /* Alinea los elementos horizontalmente */
  padding: 0 18px;
  display: none;
  overflow: hidden;
  color: #fff;
}


.accordion2 {

  width: 80%;
  margin: 20px auto;

}

.accordion-item2 {
  font-family: 'Franklin Gothic Medium';
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion-item1:hover {
  background-color: #ccc;
}


---------------------------

#pdfs  {
  width: 100%;
  height: 630px;
  display: block;
  clear: both; /* Asegura que cada div comience en una nueva línea */
  margin-top: 20px; /* Añade un margen superior para separar los divs */
}

#pdfs1 {
  width: 100%;
  height: 550px;
  display: block;
  clear: both; /* Asegura que cada div comience en una nueva línea */
  margin-top: 20px; /* Añade un margen superior para separar los divs */
}


  #pdfs2 {
  width: 100%;
  height: 550px;
  display: block;
  clear: both; /* Asegura que cada div comience en una nueva línea */
  margin-top: 10px; /* Añade un margen superior para separar los divs */
}

#pdfs a, #pdfs1 a, #pdfs2 a {
  text-align: center;
  height: 210px;
  margin-top: 30px;
  width: 30%;
  display: inline-block;
  padding: 11px;
  text-decoration: none;
  color: white;
  border: 1px solid #ddd;
  margin-right: 11px;
  float: left;
}

#pdfs a img, #pdfs1 a img, #pdfs2 a img  {
  width: 10%;
  filter: invert(100%) brightness(2);
}


---------------


.panel a:hover {
  background-color:  rgba(7, 12, 15, 0.521);
}

.preview {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.preview img {
  max-width: 200px;
  height: auto;
  margin-right: 10px;
}



/* Estilos para el Lightbox */
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    
  }
  
  .lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }



  

  
  