

  iframe {
    width: 90%;
    height: 400px;
    border: 1px solid #ccc;
    margin-left: 50px;
}

.sec_sem1 #container1{

    width: 70%;
    
  
  }
  
  .sec_sem1 #container2{
  
    width: 30%;
    display: block;
    justify-content: center; 

  
  }

  video { 

    width: 100%;
    height: auto;
    margin: auto;
    display: block;

  }

  .vid{

    width: 45%;
    float: left;
    padding: 2%;
  }

  #img{

    padding: 200px  0;
    background-image: url(../img/3.jpeg);

  }
.vid h3{
 
  text-align: center;
  margin: 25px 0px 0px 0px ;


}

#pdfs a, #pdfs1 a, #pdfs2 a {

  height: 120px;

}




#pdfs1 {
  height: 350px;
  margin-top: 0%;

}


#pdfs2 {

  height: 210px;

}

