#intro {
    width: 80%; /* Ajusta el ancho del cuerpo al 80% del ancho de la pantalla */
    margin: 0 auto; /* Centra horizontalmente el cuerpo */
    color: white; /* Establece el color de texto en blanco */
}

h2, h3, h5, p {
    color: white; /* Establece el color de texto en blanco para todos los elementos de texto */
}


----------

#proyecto {
    color: white
    display: flex; /* Usa flexbox para colocar los elementos en una fila */
}

.texto {
    ;
    width: 70%; /* Establece el ancho del contenedor de texto */
    padding: 20px; /* Espaciado interno */
}

.imagen {
    width: 30%; /* Establece el ancho del contenedor de la imagen */
    padding: 20px; /* Espaciado interno */
}
